<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    </head>
<body>
    {{>navbar}}
    <div >
        <h1>WELCOME TO SCHOLARHUT</h1>
        <h2>Enroll in any course and start learning now....</h2>
        <h2>Please Login to continue in our courses</h2>
    </div>
</body>
</html>