<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>   
    {{>navbar}}
    <div class="container">
        <form action="/register" method="post">
                      
            <h1 id="signup"> Signup form </h1>
                              
            <input  type="text" name="name" id="name"  placeholder="Name"  required /><br>
                              
            <input  type="email" name="email" id="email" placeholder="E-Mail " required /><br>                    
            
            <input  type="password" name="password"  id="password" placeholder="Password " required/><br>

            <input  type="password" name="confirmpassword"  id="password" placeholder="Confirm Password " required/><br>                   
            
            <input  type="text" name="phone" id="phone"  placeholder="Phone Number " required/><br>
                        <br>
            <input type="submit" id="submitDetails" name="submitDetails" value="Register" /><br>            
            </form>
            </div> 
                    
</body>
</html>